## dictionary is unordered

In [8]:
d = {'ban':'dhaka','ind':'delhi','us':'WDC'}
print(d)

{'ban': 'dhaka', 'ind': 'delhi', 'us': 'WDC'}

In [9]:
## accessing
print(d['ban'])

dhaka

In [10]:
## modifying
d['us'] = 'washingtonDC'
d['uk']='london'
print(d)

{'ban': 'dhaka', 'ind': 'delhi', 'us': 'washingtonDC', 'uk': 'london'}

In [11]:
## delet
del d['uk']

In [13]:
print(d)

{'ban': 'dhaka', 'ind': 'delhi', 'us': 'washingtonDC'}

In [15]:
print(d.values())

for value in d.values():
    print(value)

dict_values(['dhaka', 'delhi', 'washingtonDC'])
dhaka
delhi
washingtonDC

In [17]:
print(d.keys())

for key in d.keys():
    print(key)

dict_keys(['ban', 'ind', 'us'])
ban
ind
us

In [19]:
for key,value in d.items():
    print(key,value)

ban dhaka
ind delhi
us washingtonDC

In [20]:
student = {
    'ironman': {'age':50,'location':'LA'},
    'captain america' : {'age':80, 'location':'NWK'},
    'thor': {'age': 1500 , 'location': 'asgard'}
}

In [23]:
student['thor']['location']

'asgard'

In [24]:
## dictionary comprehension

d = {i:i**2 for i in range(10)}
print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [25]:
## frequency count
l = [1,2,2,3,3,3,4,4,4,4]
frq = {}
for i in l:
    if i in frq:
        frq[i] +=1
    else:
        frq[i] = 1

print(frq)

{1: 1, 2: 2, 3: 3, 4: 4}

In [27]:
## merged dictionary

d1 = {'a':1,'b':2}
d2 = {'c':3, 'd':4}
merged = {**d1,**d2}
print(merged)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}