## Basic python

In [2]:
print("begining of ai engineer")

begining of ai engineer

In [3]:
value = input("Enter your name: ")
print(value)

Enter your name:  rachin

rachin

In [ ]:
a = 12
b = 'data science'
c = 12.53
d = True

print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))

In [8]:
#fstring
print(f'The value is {a} is right')

The value is 12 is right

In [10]:
##doc string
'''this is multi
line 
    comment'''

'this is multi\nline \n    comment'

#### type casting

In [11]:
a = 12
print(a,type(a))
a = 'hi'
print(a, type(a))

12 <class 'int'>
hi <class 'str'>

### operator

In [21]:
a = 12
b = 8
add = a+b
sub = a-b
mul = a*b
div = a/b
fdiv = a//b
mod = a%b
exp = a**b

print(add ,sub)
print(mul, div)
print(fdiv, mod)
print(exp)

20 4
96 1.5
1 4
429981696

### basic calculator

In [23]:
a = int(input("enter num 1 : "))
b = int(input("enter num 2 : "))
print("addition : ",a+b)
print("substruction : ",a-b)

enter num 1 :  2
enter num 2 :  3

addition :  5
substruction :  -1

# condition

In [31]:
age = int(input("enter your age : "))

if age > 18 : 
    isStudent = input("Enter answer : ")
    if isStudent.lower() == 'yes':
        print("Your have 50% discount")
    else:
        print("No discount is availabe for you")
elif age == 18:
    print("Enjoy your last discount year")
else:
    print("You have 50% discount")

enter your age :  30
Enter answer :  no

No discount is availabe for you

#### leap year

In [34]:
leap = int(input("enter year :"))


if leap%4 == 0:
    if leap %100 == 0:
         if leap%400 == 0:
             print(f'{leap} is a leap year')
         else:
             print(f'{leap} is not a leap year')
    else:
             print(f'{leap} is a leap year')
else:
     print(f'{leap} is not a leap year')

enter year : 2016

2016 is a leap year

# loop

In [35]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [36]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [37]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [38]:
for i in range(1,3):
    for j in range(4,6):
        print(f'i = {i}, j = {j}')

i = 1, j = 4
i = 1, j = 5
i = 2, j = 4
i = 2, j = 5

In [46]:
## while loop

count = 5
while count >=0:
    print('hi, count is : ',count)
    count-=1

hi, count is :  5
hi, count is :  4
hi, count is :  3
hi, count is :  2
hi, count is :  1
hi, count is :  0

In [59]:
## prime number 

a = int(input())
for i in range(1,a):
    flag = False
    for j in range(2,i):
            if i%j == 0 :
                flag = True
                break
    if flag == False:
        print(i, " prime number")

 100

1  prime number
2  prime number
3  prime number
5  prime number
7  prime number
11  prime number
13  prime number
17  prime number
19  prime number
23  prime number
29  prime number
31  prime number
37  prime number
41  prime number
43  prime number
47  prime number
53  prime number
59  prime number
61  prime number
67  prime number
71  prime number
73  prime number
79  prime number
83  prime number
89  prime number
97  prime number

In [61]:
a = [100,200,300,400,500]   #index with value
for i,value in enumerate(a):
    print(i, value)

0 100
1 200
2 300
3 400
4 500