In [3]:
tup = ()
tup
tup = ('apple','mango','watermelon','licchi','banana','guava')
tup

('apple', 'mango', 'watermelon', 'licchi', 'banana', 'guava')

In [7]:
## accessing 

print(tup[1])
print(tup[::])
print(tup[2:])

mango
('apple', 'mango', 'watermelon', 'licchi', 'banana', 'guava')
('watermelon', 'licchi', 'banana', 'guava')

In [10]:
## operation on tuple
tup*=2
print(tup)

('apple', 'mango', 'watermelon', 'licchi', 'banana', 'guava', 'apple', 'mango', 'watermelon', 'licchi', 'banana', 'guava')

In [11]:
## mixed tuple
t = (1,4.3,'dhaka')
t

(1, 4.3, 'dhaka')

In [18]:
## tuple method

print(tup.count('apple'))
print(tup.index('banana'))

2
4

In [19]:
## packaging
packaging = 1,'bangladesh','naruto'
print(packaging)

(1, 'bangladesh', 'naruto')

In [20]:
## upackaging
a,b,c = packaging
print(a,b,c)

1 bangladesh naruto

In [21]:
t = (1,2,3,4,5,6,8)
a,*m,b = t
print(a,m,b)

1 [2, 3, 4, 5, 6] 8

In [24]:
## nested tuple

tup = ((1,2,3),(1.1,2.2,3.3),('naruto','madara','kakashi'))
tup[2][2]

'kakashi'

## tuple is immutable means if once you declear a tuple you can not change any value later. but if you want to change values of a tuple then first convert it to list then update then convert it again to tuple

In [28]:
t = (1,2,4)
print(t)

t = list(t)
t[2] = 3
t = tuple(t)

print(t)

(1, 2, 4)
(1, 2, 3)